{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <li>
    {% if teaser %}
<div style="float:left; width:220px; margin-right:20px; margin-bottom:20px;">
  <img src=
    {% if teaser contains "://" %}
      "{{ teaser }}"
    {% else %}
      "{{ teaser | prepend: base_path }}"
    {% endif %}
    style="width:100%;
           border-radius:8px;
           box-shadow:0 2px 8px rgba(0,0,0,.2);">
</div>
{% endif %}
    <div style="overflow:hidden;">

<h3 class="archive__item-title" itemprop="headline">
{% if post.link %}
  <a href="{{ post.link }}">{{ title }}</a>
{% else %}
  <a href="{{ base_path }}{{ post.url }}">{{ title }}</a>
{% endif %}
</h3>

<p>
<strong>{{ post.venue }}</strong><br>
{{ post.date | date: "%Y" }}
</p>

{% if post.excerpt %}
<p>{{ post.excerpt | truncate: 300 }}</p>
{% endif %}

{% if post.paperurl %}
<p>
<a href="{{ post.paperurl }}" target="_blank">
📄 Read Paper
</a>
</p>
{% endif %}

</div>
    </li>
 </article>
</div>
